@using Microsoft.AspNetCore.Identity
@using pabio.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="nav bg-white">
    @if (SignInManager.IsSignedIn(User))
    {
        <li>
            <a  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Привіт, @User.FindFirst("Name")?.Value</a>
        </li>
        <li>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                @* <button type="submit" class="nav-link btn btn-link text-dark">Вийти</button> *@
                <a href="#" onclick="document.getElementById('logoutForm').submit();">Вийти</a>
            </form>
        </li>
    }
    else
    {
        <li>
            <a  asp-area="Identity" asp-page="/Account/Register">Реєстрація</a>
        </li>
        <li >
            <a asp-area="Identity" asp-page="/Account/Login">Вхід</a>
        </li>
    }
</ul>
