@page "{id}"
@model pabio.Pages.Events.EditModel
@{
    ViewData["Title"] = "Редагувати подію";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <partial name="_EditEventPartial" model="Model.Input" />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary mt-3">Зберегти зміни</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
