@page
@model pabio.Pages.CVModel
@{
    ViewData["Title"] = "Професійна діяльність";
}
<div class="container-fluid">
    <div class="container-fluid">
        <h1 class="display-5">Професійна діяльність</h1>
        <p class="lead">Маю більше ніж 20 років досвіду у проектуванні та розробці програмного забезпечення та баз данних у маштабних та складних проєктах, керівництво коллективом, просування продукту, маю великий досвід роботи у проєктах з обмеженими ресурсами та строками.</p>
        <p class="lead"></p>
    </div>

    <div class="container-fluid">
        <h1 class="display-6">Навички</h1>
        <dl class="row">
            <dt class="col-sm-3"><small class="text-body-secondary">Фреймворки та технології</small></dt>
            <dd class="col-sm-9">
                <ul>
                    <li>.NET</li>
                    <li>WPF</li>
                    <li>Entity Framework Core</li>
                    <li>ASP.NET</li>
                    <li>ASP.NET Core</li>
                    <li>Microsoft Azure</li>
                    <li>Microservice Architecture</li>
                    <li>Docker</li>
                </ul>
            </dd>

            <dt class="col-sm-3"><small class="text-body-secondary">Бази данних:</small></dt>
            <dd class="col-sm-9">
                <ul>
                    <li>MS SQL Server, SSRS, SSIS</li>
                    <li>PostgreSQL</li>
                    <li>Redis</li>
                    <li>MongoDB / Cosmos Db</li>
                    <li>Azure</li>
                </ul>              
            </dd>

            <dt class="col-sm-3"><small class="text-body-secondary">Методолгії:</small></dt>
            <dd class="col-sm-9">
                <ul>
                    <li>Agile/Scrum</li>
                    <li>Clean Architecture</li>
                    <li>Domain Driven Design</li>
                    <li>Design Patterns</li>
                    <li>Microservices Architecture</li>
                    <li>DevOps</li>
                    <li>Contonious Integration/Contonious Deployment</li>
                    <li>Zettelkasten</li>
                </ul>
            </dd>

            <dt class="col-sm-3"><small class="text-body-secondary">Мови</small></dt>
            <dd class="col-sm-9">
                <ul>
                    <li>Українська</li>
                    <li>Англійська</li>
                </ul>
            </dd>
        </dl>
    </div>

    <div class="container-fluid">
        <h1 class="display-6">Навчання та сертифікати</h1>
        <ul>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Microservices_Robot_dreams_Diploma.pdf" target="_blank">Microservices Diploma</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Udemy NET Core Microservices UC-8263086f-c9bc-4ea5-830f-349648360ebf.pdf" target="_blank">NET Core Microservices</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Visionest Institite Andrii Pavlov.pdf" target="_blank">Rebuilding Task Force Program</a></li>            
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Coursera SQL for Data Science.pdf" target="_blank">SQL for Data Science</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/AI Basics Certificate Андрій Павлов.pdf" target="_blank">AI Basics</a></li>            
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Coursera Project Execution Running the project.pdf" target="_blank">Project Execution: Running the project</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Project Planning Putting It All Together.pdf" target="_blank">Project Planning: Putting It All Together</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Project Initiation Starting a Successful Project.pdf" target="_blank">Project Initiation: Starting a Successful Project</a></li>            
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Coursera Agile Project Management.pdf" target="_blank">Agile Project Management</a></li>
            <li><a href="https://pabiosa.blob.core.windows.net/sertificates/Coursera Foundations of Project Managment.pdf" target="_blank">Foundations of Project Management</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <h3 class="display-6 mt-3">Професійний стаж</h3>
        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Керівник громадської організації «Центр логістики розвитку громад»</h5>
            </div>
            <h6 class="ms-3">травень 2023 - теперішній час</h6>
            <p class="text-black ms-3 mb-1">Діяльність, націлена на ефективне та прозоре відновлення та розвиток зруйнованих міст та селищ України, шляхом формування <a href="https://www.cls-project.com.ua/" target="_blank">стратегічних планів розвитку громад</a>, залучення інвестицій, розробки проєктів реконструкції, впровадження <a href="https://www.cls.software/" target="_blank">програмного забезпечення для підготовки та моніторингу будівництва.</a></p>


        </div>

        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Керівник відділу розробки та впровадження программного забезпечення, ПрАТ "Хімпроєкт"</h5>
            </div>
            <h6 class="ms-3">березень 2018 - теперішній час</h6>
            <p class="text-black ms-3 mb-1">Розробка програмного комплексу підготовки та керування будівництвом за допомогою інформаційного моделювання <a href="https://www.cls.software/" target="_blank">Construction Logistics Software(CLS)</a>. Розробка концепції, архітектури системи та баз данних, постановка задач, планування та розподілення завдань, розробка программного коду. Розробка документації. Комунікація з замовником. Впровадження системи безперервного постачання та розгортування(CI/CD). Організація служби технічної підтримки користувачів. Підготовка презентацій на професійному рівні та великий досвід публічних виступів</p>

        </div>

        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Керівник відділу розробки та впровадження программного забезпечення, ПрАТ "Хімпроєкт"</h5>
            </div>
            <h6 class="ms-3">вересень 2015 — лютий 2018</h6>
            <p class="text-black ms-3 mb-1">Розробка програмного комплексу для організації середовища загальних даних та керування процесами проектування General Communications Assistant (GC.Assistant). Участь у розробці концепції, розробка архітектури системи та баз данних, постановка задач, планування та розподілення завдань, розробка программного коду. Розробка документації. Комунікація з замовником.</p>

        </div>

        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Розробник плагинів САПР, ТОВ "Інститут хіміко-технологічного проектування"</h5>
            </div>
            <h6 class="ms-3">липень 2012 — серпень 2015</h6>
            <p class="text-black ms-3 mb-1">
                Розробка та впровадження плагинів для Autodesk Autocad. Розробка програмного коду, розробка документації
            </p>
        </div>

        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Розробник програмного забезпечення, ПрАТ "Хімпроєкт"</h5>
            </div>
            <h6 class="ms-3">березень 2006 — червень 2012</h6>
            <p class="text-black ms-3 mb-1">Розробка автоматизованої системи керування ремонтно-техничним обслуговуванням "Вектор" для Лисичанського нафтопереробного заводу. Розробка бази даних, програмного коду та документації</p>

        </div>

        <div class="card m-1">
            <div class="card-header bg-light">
                <h5 class="mb-0">Тестувальник програмного забезпечення, ПрАТ "Хімпроєкт"</h5>
            </div>
            <h6 class="ms-3">серпень 2003 — лютий 2006</h6>
            <p class="text-black ms-3 mb-1">Тестування продуктів відділу розробки програмного забезпечення для автоматизації проєктної діяльності.</p>
        </div>
    </div>
</div>