@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* Используется класс container, чтобы задать ограниченную ширину для содержимого и центрировать его на экране. *@
<div class="container mt-5">
    @* Сетка Bootstrap: Внутри контейнера находится строка (row), которая разделяется на 
    два столбца с помощью классов col-md-6. 
    Это делит пространство пополам для экрана средней ширины и выше. *@
    <div class="row">
        <!-- Левая колонка (для картинки) -->
        <div class="col-md-6">
            @* В левой колонке (col-md-6) размещена картинка с классом img-fluid, что позволяет ей адаптироваться к размеру контейнера. *@
            <img 
                src="https://pabiostorageaccount.blob.core.windows.net/pabiosite/PavlovAndrii_profile_foto.png" 
                alt="It`s me" 
                class="img-fluid">
        </div>
        <!-- Правая колонка (для текста) -->
        @* В правой колонке (col-md-6) находится текст. *@
        <div class="col-md-6">
            <h2>Про мене</h2>
            <p>Привіт! Це моя сторінка</p>
            <p>Цей блок буде містити інформацию про мене</p>
        </div>
    </div>
</div>
