@page
@model IndexModel
@{
    ViewData["Title"] = "Про мене";
}

<div class="container-fluid">

    <div class="row" >
        <div class="col-sm-3" >
            <img src="https://pabiosa.blob.core.windows.net/pabio-site-images/PavlovAndrii_profile_foto.png"
                 alt="It`s me" 
                class="img-thumbnail"
            width="300">
        </div>
        <div class="col" >
            <h2>Про мене</h2>
            <p>Привіт! Мене звуть Андрій. Я народився 21 квітня 1987 року у м. Сєвєродонецьк. Зараз живу та працюю у Києві. У 2012 році я зустрів Ірину, через рік вона стала моєю дружиною і з тих пір ми разом. У 2016 році у нас народилась донька Аня. Зараз вона чудова восьмирічна дівчинка, яка вчиться у третьму класі.</p>

            <p>Більшу частину свого життя я займаюсь розробкою программного забезпечення. Маю великий досвід у розробці настільних рішень, веб-застосунків та баз даних. Також я є один з засновників та директор <a href="https://lccd.org.ua">громадської організації "Центр логістики розвитку громад"</a>, метою якої є допомога громадам у розробці стратегій та програм розвитку</p>
            
            <p>У вільний час читаю професійну та розвиваючу літературу, граю на електрогітарі, займаюсь спотром. Люблю прогулянки на свіжому повітрі.</p>
        </div>
    </div>
    <div class="col">
    </div>
</div>
