@page
@model IndexModel
@{
    ViewData["Title"] = "Про мене";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <img src="https://pabiosa.blob.core.windows.net/pabio-site-images/PavlovAndrii_profile_foto.png"
                 alt="It`s me"
                 class="img-thumbnail"
                 width="300">
        </div>
        <div class="col">
            <h1 class="display-5">Про мене</h1>
            <p class="lead">Привіт! Мене зовуть Андрій. Я народився 21 квітня 1987 року у м. Сєвєродонецьк. Зараз живу та працюю у Києві. </p>

            <p class="lead">Більшу частину свого життя я займаюсь розробкою программного забезпечення. Маю <a asp-page="/CV">великий досвід</a> у розробці настільних рішень, веб-застосунків та баз даних. Є одним з авторів та розробником <a href="https://www.cls.software/" target="_blank">системи керування будівництвом CLS</a>. Також я є одним з засновників та директором <a href="https://lccd.org.ua" target="_blank">громадської організації "Центр логістики розвитку громад"</a>, метою якої є допомога громадам у розробці стратегій та програм розвитку у рамках проєкту <a href="https://www.cls-project.com.ua/" target="_blank">CLS-Ukraine</a></p>

            <p class="lead">Маю чудову <a asp-page="/family"> родину</a></p>

            @* <p class="lead">У вільний час <a asp-page="/books">читаю</a> професійну та розвиваючу літературу, <a asp-page="/music">граю</a> на електрогітарі, займаюсь <a asp-page="/sport">спортом</a>. Люблю довгі прогулянки на свіжому повітрі.</p> *@
            <p class="lead">У вільний час читаю професійну та розвиваючу літературу, граю на електрогітарі, займаюсь спортом. Люблю довгі прогулянки на свіжому повітрі.</p>
        </div>
    </div>
    <div class="col">
    </div>
</div>
