@page
@model pabio.Pages.TestPageModel
@{
}
<div class="container" style="background: lightgreen; margin: 5px">
    main container
</div>
<div class="container" style="background: lightgreen; margin: 5px">
    container
</div>
<div class="container-sm" style="background: lightgreen; margin: 5px">
    container-sm
</div>
<div class="container-md" style="background: lightgreen; margin: 5px">
    container-md
</div>
<div class="container-lg" style="background: lightgreen; margin: 5px">
    container-lg
</div>
<div class="container-xl" style="background: lightgreen; margin: 5px">
    container-xl
</div>
<div class="container-xxl" style="background: lightgreen; margin: 5px">
    container-xxl
</div>
<div class="container-fluid" style="background: lightgreen; margin: 5px">
    container-fluid
</div>


@* Grid *@
<div class="container-fluid" style="background: yellow; margin: 5px">
    <div class="row" style="background: lightgreen; margin: 5px">
        <div class="col" style="background: red; margin: 5px">
            Column
        </div>
        <div class="col" style="background: green; margin: 5px">
            Column
        </div>
        <div class="col" style="background: blue; margin: 5px">
            Column
        </div>
    </div>
    <div class="row" style="background: lightgreen; margin: 5px">
        <div class="col" style="background: red; margin: 5px">
            Column
        </div>
        <div class="col" style="background: green; margin: 5px">
            Column
        </div>
    </div>
</div>