@page
@{
    ViewData["Title"] = "Gamplitune";
}
<div class="container-fluid">
    <div class="container-fluid">
        <h1 class="display-5">Gamplitune</h1>
        <p class="lead">Якщо ти також музикант і граєш на електрогітарі, то чудово знаєш, що перші 20-30 років не дуже-то і просто налаштувати підсилювач так, щоб гітара звучала як в улюблених композиціях. Щоб спростити тобі (і собі) цю задачу, я створив сервіс Gamplitune</p>

        <p class="lead">Жми "Розпочати", напиши марку свого підсилювача, виконавця та назву композиції. Нажми "Сгенерувати" і Gamplitune зробить усе сам</p>

        <a asp-page="Request" class="btn btn-success">Розпочати</a>
    </div>
</div>
